netcoredemo/netcoredemo/bin/Debug/netcoreapp2.1/netcoredemo.pdb
netcoredemo/netcoredemo/bin/Debug/netcoreapp2.1/netcoredemo.dll
netcoredemo/netcoredemo/bin/Debug/netcoreapp2.1/netcoredemo.deps.json
netcoredemo/netcoredemo/bin/Debug/netcoreapp2.1/netcoredemo.runtimeconfig.json
netcoredemo/netcoredemo/bin/Debug/netcoreapp2.1/netcoredemo.runtimeconfig.dev.json
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.dll
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.csprojResolveAssemblyReference.cache
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.csproj.FileListAbsolute.txt
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.csproj.CoreCompileInputs.cache
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.RazorAssemblyInfo.cs
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.RazorAssemblyInfo.cache
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.AssemblyInfoInputs.cache
netcoredemo/netcoredemo/obj/netcoredemo.csproj.nuget.g.props
netcoredemo/netcoredemo/obj/netcoredemo.csproj.nuget.cache
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.pdb
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.AssemblyInfo.cs
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.assets.cache
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/netcoredemo.RazorTargetAssemblyInfo.cache
netcoredemo/netcoredemo/obj/project.assets.json
netcoredemo/netcoredemo/obj/netcoredemo.csproj.nuget.g.targets
netcoredemo/netcoredemo/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
